<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
    <div id="root">
        <input type="text" v-model='firstName'>

        <hr />
        <input type="text" v-model='lastName'>
        <br />
        <span>{{fullname()}}</span>
    </div>
</body>
<script>
    const vm = new Vue(
        {
            el: '#root',
            data: {
                firstName: 'chen',
                lastName: 'niubi',
            },
            methods:
            //这里要用methods 不是computed
            //methods调用需要括号 computed 不需要括号
            {
                fullname() {
                    return this.firstName + this.lastName
                }
            }
        }
    )
</script>

</html>